<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="false"
        android:name=".App"
        android:persistent="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Paperize" tools:targetApi="tiramisu">
        <activity
            android:name=".feature.wallpaper.presentation.MainActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="true"
            android:theme="@style/Theme.Paperize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:resource="@xml/shortcuts" android:name="android.app.shortcuts" />
        </activity>
        <activity android:name=".feature.wallpaper.app_shortcut.BroadcastActivity"
            android:theme="@android:style/Theme.NoDisplay">
        </activity>
        <receiver android:name=".feature.wallpaper.wallpaper_alarmmanager.WallpaperReceiver" />
        <service android:name=".feature.wallpaper.wallpaper_service.WallpaperService1"/>
        <service android:name=".feature.wallpaper.wallpaper_service.WallpaperService2"/>
        <service
            android:name=".feature.wallpaper.wallpaper_tile.ChangeWallpaperTileService"
            android:exported="true"
            android:label="@string/change_wallpaper"
            android:icon="@drawable/notification_icon"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter> <action android:name="android.service.quicksettings.action.QS_TILE" /> </intent-filter>
        </service>
        <receiver android:name=".feature.wallpaper.wallpaper_alarmmanager.WallpaperBootAndChangeReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data android:name="androidx.emoji2.text.EmojiCompatInitializer"
                tools:node="remove" />
        </provider>
    </application>
</manifest>